.sidebar {
  border: 1px solid #f2f2f2;
  position: relative;

  .item {
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 8px;
    cursor: pointer;
    transition: background 0.4s ease-in-out;

    .icon {
      margin-bottom: 2px;
    }

    .name {
      display: inline-block;
      text-transform: capitalize;
      font-size: 0.8rem;
      font-weight: bold;
    }

    &.selected {
      background: rgba(0, 0, 255, 0.7);

      .icon {
        svg {
          fill: white;
        }
      }

      .name {
        color: white
      }
    }
  }

  .headphone {
    background: #ddd;
    padding: 10px 15px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
  }
}