.headerWrapper {
  background: white;
  display: grid;
  height: Min(50px, 100%);
  grid-template-columns: 80px 1fr;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  .logo {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #f2f2f2;
  }

  .header {
    width: 100%;
    display: flex;
    align-items: center;

    .userIcon {
      margin-left: auto;
      margin-right: 1rem;
      cursor: pointer;
    }
  }
}